[Desktop Entry]
Encoding=UTF-8
Name=eqchem
Exec=eqchem %i %m -caption "%c"
Icon=eqchem
Type=Application
DocPath=eqchem/eqchem.html
Comment=A KDE application to balance chemical equations
Comment[fr]=Une applicaiton KDE capable d'équilibrer les équations chimiques
Comment[it]=Un'applicazione KDE per bilanciare equazioni chimiche
Comment[sv]=Ett KDE-program för att balansera kemiska ekvationer
Terminal=false
