[Desktop Entry]
Name=Chemistry: Did You Know
Name[bg]=Химия: знаете ли, че...
Name[bs]=Hemija: Da li ste znali
Name[ca]=Química: sabíeu que...
Name[ca@valencia]=Química: sabíeu que...
Name[cs]=Chemie: Víte že...
Name[da]=Kemi: Vidste du
Name[de]=Chemie: Wussten Sie schon, dass ...
Name[el]=Χημεία: Γνωρίζατε
Name[en_GB]=Chemistry: Did You Know
Name[eo]=Ĥemiko: ĉu vi scias?
Name[es]=Química: Sabía que
Name[et]=Keemia: kas sa tead?
Name[eu]=Kimika: ba zenekien 
Name[fi]=Kemia: Tiesitkö
Name[fr]=Chimie : le saviez-vous ?
Name[ga]=An Cheimic: An Raibh Fhios Agat
Name[gl]=Química: Sabía que
Name[gu]=રસાયણવિજ્ઞાન: શું તમે જાણો છો
Name[he]=כימיה: הידעת?
Name[hne]=रसायनसास्त्र: का आप मन जानथो
Name[hr]=Kemija: jeste li znali
Name[hu]=Kémia: Tudta, hogy…?
Name[is]=Efnafræði: Veistu það ?
Name[it]=Chimica: lo sapevi?
Name[ja]=化学: 知ってますか？
Name[kk]=Химия: Білесіз бе
Name[km]=គីមី ៖ តើ​អ្នក​ដឹង​អ្វី​ខ្លះ​
Name[ko]=화학: 알고 계십니까?
Name[lt]=Chemija: ar žinojote
Name[lv]=Ķīmija: vai jūs zinājāt
Name[mr]=रसायनशास्त्र : तुम्हाला माहित आहे का
Name[nb]=Kjemi: Visste du
Name[nds]=Chemie: Weetst du al...?
Name[nl]=Chemie: Wist je dat...?
Name[nn]=Kjemi: Visste du at …
Name[pa]=ਰਸਾਇਣ ਵਿਗਿਆਨ: ਕੀ ਤੁਸੀਂ ਜਾਣਦੇ ਹੋ?
Name[pl]=Chemia: czy wiesz że...
Name[pt]=Química: Sabia Que
Name[pt_BR]=Química: você sabia?
Name[ru]=Химия: Знаете ли вы?
Name[sk]=Chémia: Vedeli ste
Name[sl]=Kemija: Ste vedeli
Name[sv]=Kemi: Visste du att
Name[te]=రసాయన శాస్త్రం: మీకు తెలుసా
Name[tr]=Kimya: Biliyor muydunuz?
Name[ug]=خىمىيە: بىلەمتىڭىز
Name[uk]=Хімія: Чи знаєте ви
Name[x-test]=xxChemistry: Did You Knowxx
Name[zh_CN]=化学：您知道吗
Name[zh_TW]=化學：您知道嗎
Icon=kalzium
Type=Service
ServiceTypes=Plasma/Applet
Comment=Facts about the chemical elements
Comment[bg]=Факти за химичните елементи
Comment[bs]=Činjenice o hemijskim elementima
Comment[ca]=Fets sobre els elements químics
Comment[ca@valencia]=Fets sobre els elements químics
Comment[cs]=Údaje o chemických prvcích
Comment[da]=Fakta om de kemiske grundstoffer
Comment[de]=Fakten über die chemischen Elemente
Comment[el]=Πληροφορίες σχετικά με χημικά στοιχεία
Comment[en_GB]=Facts about the chemical elements
Comment[eo]=Faktoj pri la ĥemiaj elementoj
Comment[es]=Hechos sobre los elementos químicos
Comment[et]=Keemiliste elementide faktid
Comment[eu]=Elementu kimikoei buruzko egitateak
Comment[fi]=Faktoja kemiallisista alkuaineista
Comment[fr]=Informations sur les éléments chimiques
Comment[ga]=Fíorais maidir leis na dúile ceimiceacha
Comment[gl]=Feitos sobre os elementos químicos
Comment[gu]=રસાયણિક તત્વો વિશે માહિતી
Comment[he]=עובדות על יסודות כימיים
Comment[hne]=रसायनिक तत्व के बारे मं जानकारी
Comment[hr]=Činjenice o kemijskim elementima
Comment[hu]=Tények a kémiai elemekről
Comment[is]=Efnafræðilegar staðreyndir
Comment[it]=Fatti riguardanti gli elementi chimici
Comment[ja]=元素に関する情報
Comment[kk]=Химиялық элементтер туралы деректері
Comment[km]=ភាព​​ពិត​អំពី​ធាតុ​គីមី
Comment[ko]=화학 원소들에 대한 사실
Comment[lt]=Faktai apie cheminius elementus
Comment[lv]=Fakti par ķīmiskajiem elementiem
Comment[mr]=रासायनिक घटकांची माहिती
Comment[nb]=Fakta om kjemiske grunnstoffer
Comment[nds]=Daten vun de cheemschen Elementen
Comment[nl]=Feiten over de chemische elementen
Comment[nn]=Fakta om dei kjemiske grunnstoffa
Comment[pa]=ਰਸਾਇਣਿਕ ਤੱਤਾਂ ਬਾਰੇ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o pierwiastkach chemicznych
Comment[pt]=Factos sobre os elementos químicos
Comment[pt_BR]=Fatos sobre os elementos químicos
Comment[ru]=Факты о химических элементах
Comment[sk]=Fakty o chemických prvkoch
Comment[sl]=Dejstva o kemijskih elementih
Comment[sv]=Fakta om kemiska grundämnen
Comment[te]=రసాయన మూలకాల గురించి వాస్తవాలు
Comment[tr]=Kimyasal elementler hakkında bilgiler
Comment[ug]=خىمىيىلىك ئېلېمېنتلار ھەققىدىكى پاكىتلار
Comment[uk]=Факти щодо хімічних елементів
Comment[x-test]=xxFacts about the chemical elementsxx
Comment[zh_CN]=有关化学元素的事实
Comment[zh_TW]=關於化學元素的一些小常識

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_didyouknow
X-KDE-PluginInfo-Author=Carsten Niehaus
X-KDE-PluginInfo-Email=cniehaus@kde.org
X-KDE-PluginInfo-Name=plasma_applet_didyouknow_kalzium
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://edu.kde.org/kalzium/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
