[Desktop Entry]
Name=Chemistry: Did You Know
Name[ga]=An Cheimic: An Raibh Fhios Agat
Name[km]=គីមី ៖ តើ​អ្នក​ដឹង​ទេ
Name[pt]=Química: Sabia Que
Name[pt_BR]=Química: Sabia Que
Name[zh_TW]=化學：您知道嗎
Icon=kalzium
Type=Service
ServiceTypes=Plasma/Applet
Comment=Facts about the chemical elements
Comment[ga]=Fíorais maidir leis na dúile ceimiceacha
Comment[km]=ធាតុ​ពិត​អំពី​ធាតុ​គីមី
Comment[pt]=Factos sobre os elementos químicos
Comment[pt_BR]=Factos sobre os elementos químicos
Comment[zh_TW]=關於化學元素的一些小常識

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_didyouknow
X-KDE-PluginInfo-Author=Carsten Niehaus
X-KDE-PluginInfo-Email=cniehaus@kde.org
X-KDE-PluginInfo-Name=plasma_applet_didyouknow_kalzium
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kalzium.kde.org/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
