[Desktop Entry]
Encoding=UTF-8
Icon=kalzium
MimeType=application/ogg;audio/basic;
Name=KalziumGLPart
Name[pa]=ਕੈਲਜੀਅਮGLPart
Name[sv]=Kalzium GL-programdel
Name[x-test]=xxKalziumGLPartxx
Comment=An OpenGL-based 3D-renderer for molecules
Comment[es]=Un programa para representar moléculas en 3D basado en OpenGL
Comment[fa]=پرداخت‌کننده ۳بعدی بر مبنای OpenGL برای پیمانه‌ها
Comment[ja]=分子ビューアのための OpenGL ベースの 3D レンダラー
Comment[pa]=ਅਣੂ ਲਈ ਓਪਨ-GL ਅਧਾਰਿਤ 3D-ਰੈਂਡਰਿੰਗ
Comment[sv]=OpenGL-baserad tredimensionell molekyluppritning
Comment[x-test]=xxAn OpenGL-based 3D-renderer for moleculesxx
Comment[zh_TW]=OpenGL 與 3D 成像的分子圖形
ServiceTypes=KParts/ReadOnlyPart
Type=Service
X-KDE-Library=libkalziumglpart
