[Desktop Entry]
Encoding=UTF-8
Icon=kalzium
MimeType=application/ogg;audio/basic;
Name=KalziumGLPart
Name[ne]=काल्जियम जीएल भाग
Name[pa]=ਕੈਲਜੀਅਮGLPart
Name[sv]=Kalzium GL-programdel
Name[x-test]=xxKalziumGLPartxx
Name[zh_CN]=KalziumGL 组件
Comment=An OpenGL-based 3D-renderer for molecules
Comment[bg]=OpenGL 3D за молекули
Comment[ca]=Un representador de molècules en 3D basat en OpenGL
Comment[de]=Ein OpenGL-basierter 3D-Zeichner für Moleküle
Comment[el]=Ένας 3Δ αποτυπωτής μορίων βασισμένος στο OpenGL
Comment[es]=Un programa para representar moléculas en 3D basado en OpenGL
Comment[fa]=پرداخت‌کننده ۳بعدی بر مبنای OpenGL برای پیمانه‌ها
Comment[ga]=Rindreálaí Móilíní 3T bunaithe ar OpenGL
Comment[ja]=分子ビューアのための OpenGL ベースの 3D レンダラー
Comment[nb]=3D-opptegning av molekyler, basert på OpenGL
Comment[ne]=मोलेक्युलेसका लागि एउटा खुला जीएलमा आधारित त्रि-आयमिक रेन्डरर
Comment[nl]=Een OpenGL-gegebaseerde 3D-renderaar voor moleculen
Comment[nn]=Ein OpenGL-basert 3D-teiknar for molekyl
Comment[pa]=ਅਣੂ ਲਈ ਓਪਨ-GL ਅਧਾਰਿਤ 3D-ਰੈਂਡਰਿੰਗ
Comment[pt]=Um motor de representação em OpenGL para moléculas
Comment[pt_BR]=Um renderizador de moléculas em 3D baseado no OpenGL
Comment[sv]=OpenGL-baserad tredimensionell molekyluppritning
Comment[x-test]=xxAn OpenGL-based 3D-renderer for moleculesxx
Comment[zh_CN]=基于 OpenGL 的 3D 分子渲染器
Comment[zh_TW]=OpenGL 與 3D 成像的分子圖形
ServiceTypes=KParts/ReadOnlyPart
Type=Service
X-KDE-Library=libkalziumglpart
