[Desktop Entry]
Name=Molar mass calculator
Name[en_GB]=Molar mass calculator
Name[es]=Calculadora de masas molares
Name[gl]=Calculadora da masa molecular
Name[ja]=モル質量計算機
Name[nl]=Molaire massa-rekenmachine
Name[pt]=Calculadora de massas molares
Name[pt_BR]=Calculadora de massas molares
Name[sv]=Beräkning av molmassa
Name[uk]=Калькулятор молярних мас
Name[x-test]=xxMolar mass calculatorxx
Name[zh_TW]=莫耳質量計算器

Comment=Small periodic table of elements with a molar mass calculator
Comment[en_GB]=Small periodic table of elements with a molar mass calculator
Comment[es]=Pequeña tabla periódica con una calculadora de masas molares
Comment[gl]=Pequena táboa periódica dos elementos cunha calculadora da masa molecular
Comment[nl]=Klein periodiek systeem der elementen met een molaire massa-rekenmachine
Comment[pt]=Uma pequena tabela periódica com uma calculadora de massas molares
Comment[pt_BR]=Uma pequena tabela periódica de elementos com uma calculadora de massas molares
Comment[sv]=Litet periodiskt system med beräkning av molmassa
Comment[uk]=Невеличка періодична система елементів з калькулятором молярних мас
Comment[x-test]=xxSmall periodic table of elements with a molar mass calculatorxx
Comment[zh_TW]=帶有莫耳質量計算器的小型元素週期表

Type=Service
Icon=kalzium
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_molmassCalculator
X-KDE-PluginInfo-Author=Etienne Rebetez
X-KDE-PluginInfo-Email=etienne.rebetez@oberwallis.ch
X-KDE-PluginInfo-Name=MolmassCalculator
X-KDE-PluginInfo-Version=0.4.2
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Science
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
