[Desktop Entry]
Name=Kalzium gas Calculator
Name[pt]=Calculadora de gases do Kalzium
Name[pt_BR]=Calculadora de gases do Kalzium
Name[tr]=Kalzium Gaz Hesaplayıcı
Name[uk]=Калькулятор газів Kalzium
Name[zh_TW]=Kalzium 氣體計算器
Comment=Kalzium gas Calculator
Comment[pt]=Calculadora de gases do Kalzium
Comment[pt_BR]=Calculadora de gases do Kalzium
Comment[tr]=Kalzium Gaz Hesaplayıcı
Comment[uk]=Калькулятор газів Kalzium
Comment[zh_TW]=Kalzium 氣體計算器
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=gasCalculator
X-KDE-PluginInfo-Author=Kashyap R Puranik
X-KDE-PluginInfo-Email=kashthealien@gmail.com
X-KDE-PluginInfo-Name=gasCalculator
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
