[Desktop Entry]
Name=Kalzium gas Calculator
Name[bg]=Газов калкулатор на Kalzium
Name[bs]=Kalzium Kalkulator gasova
Name[ca]=Calculadora de gasos del Kalzium
Name[ca@valencia]=Calculadora de gasos del Kalzium
Name[cs]=Plynová kalkulačka programu Kalzium
Name[da]=Kalzium-regnemaskine til gasser
Name[de]=Kalzium Gas-Rechner
Name[el]=Μικροϋπολογιστής αερίων για το Kalzium
Name[en_GB]=Kalzium gas Calculator
Name[eo]=Gaza kalkulilo de Kalzium
Name[es]=Calculadora de gases de Kalzium
Name[et]=Kalziumi gaasikalkulaator
Name[eu]=Kalzium gasen kalkulagailua
Name[fi]=Kalziumin kaasulaskin
Name[fr]=Calculateur de gaz de Kalzium
Name[ga]=Áireamh gáis Kalzium
Name[gl]=Calculadora de gases de Kalzium
Name[hu]=Kalzium gázszámoló
Name[it]=Calcolatore di gas di Kalzium
Name[ja]=Kalzium 気体計算機
Name[kk]=Газдық калькулятор
Name[km]=ម៉ាស៊ីន​គណនា​ឧស្ម័ន​ ​Kalzium 
Name[ko]=Kalzium 기체 계산기
Name[lv]=Kalzium gāzu kalkulators
Name[mr]=केल्झियम वायु गणकयंत्र
Name[nb]=Kalzium gasskalkulator
Name[nds]=Kalzium-Gasreekner
Name[nl]=Kalzium gasrekenmachine
Name[nn]=Kalzium gasskalkulator
Name[pa]=ਕੈਲਜ਼ੀਅਮ ਗੈਸ ਕੈਲਕੂਲੇਟਰ
Name[pl]=Kalkulator gazowy Kalzium
Name[pt]=Calculadora de gases do Kalzium
Name[pt_BR]=Calculadora de Gases do Kalzium
Name[ru]=Газовый калькулятор
Name[sk]=Kalkulačka plynu Kalzium
Name[sl]=Izračuni za pline za Kalzium
Name[sv]=Kalzium gasberäkning
Name[te]=క్యల్జ్యిం వాయువు గనన యంత్రము
Name[tr]=Kalzium Gaz Hesaplayıcı
Name[ug]=Kalzium گاز ھېسابلىغۇچ
Name[uk]=Калькулятор газів Kalzium
Name[x-test]=xxKalzium gas Calculatorxx
Name[zh_CN]=Kalzium 气体计算器
Name[zh_TW]=Kalzium 氣體計算器
Comment=Kalzium gas Calculator
Comment[bg]=Газов калкулатор на Kalzium
Comment[bs]=Kalzium Kalkulator gasova
Comment[ca]=Calculadora de gasos del Kalzium
Comment[ca@valencia]=Calculadora de gasos del Kalzium
Comment[cs]=Plynová kalkulačka programu Kalzium
Comment[da]=Kalzium-regnemaskine til gasser
Comment[de]=Kalzium Gas-Rechner
Comment[el]=Μικροϋπολογιστής αερίων για το Kalzium
Comment[en_GB]=Kalzium gas Calculator
Comment[eo]=Gaza kalkulilo de Kalzium
Comment[es]=Calculadora de gases de Kalzium
Comment[et]=Kalziumi gaasikalkulaator
Comment[eu]=Kalzium gasen kalkulagailua
Comment[fi]=Kalziumin kaasulaskin
Comment[fr]=Calculateur de gaz de Kalzium
Comment[ga]=Áireamh gáis Kalzium
Comment[gl]=Calculadora de gases de Kalzium
Comment[hu]=Kalzium gázszámoló
Comment[it]=Calcolatore di gas di Kalzium
Comment[ja]=Kalzium 気体計算機
Comment[kk]=Kalzium газдық калькуляторы
Comment[km]=ម៉ាស៊ីន​គណនា​ឧស្ម័ន​ Kalzium 
Comment[ko]=Kalzium 기체 계산기
Comment[lv]=Kalzium gāzu kalkulators
Comment[mr]=केल्झियम वायु गणकयंत्र
Comment[nb]=Kalzium gasskalkulator
Comment[nds]=Kalzium-Gasreekner
Comment[nl]=Kalzium gasrekenmachine
Comment[nn]=Kalzium gasskalkulator
Comment[pa]=ਕੈਲਜ਼ੀਅਮ ਗੈਸ ਕੈਲਕੂਲੇਟਰ
Comment[pl]=Kalkulator gazowy Kalzium
Comment[pt]=Calculadora de gases do Kalzium
Comment[pt_BR]=Calculadora de Gases do Kalzium
Comment[ru]=Газовый калькулятор Kalzium
Comment[sk]=Kalkulačka plynu Kalzium
Comment[sl]=Izračuni za pline za Kalzium
Comment[sv]=Kalzium gasberäkning
Comment[te]=క్యల్జ్యిం వాయువు గనన యంత్రము
Comment[tr]=Kalzium Gaz Hesaplayıcı
Comment[ug]=Kalzium گاز ھېسابلىغۇچ
Comment[uk]=Калькулятор газів Kalzium
Comment[x-test]=xxKalzium gas Calculatorxx
Comment[zh_CN]=Kalzium 气体计算器
Comment[zh_TW]=Kalzium 氣體計算器
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=gasCalculator
X-KDE-PluginInfo-Author=Kashyap R Puranik
X-KDE-PluginInfo-Email=kashthealien@gmail.com
X-KDE-PluginInfo-Name=gasCalculator
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
