[Desktop Entry]
Name=Kalzium gas Calculator
Name[ca]=Calculadora de gasos del Kalzium
Name[ca@valencia]=Calculadora de gasos del Kalzium
Name[en_GB]=Kalzium gas Calculator
Name[es]=Calculadora de gases de Kalzium
Name[et]=Kalziumi gaasikalkulaator
Name[gl]=Calculadora de gases de Kalzium
Name[it]=Calcolatore di gas di Kalzium
Name[ko]=Kalzium 기체 계산기
Name[nb]=Kalzium gasskalkulator
Name[nds]=Kalzium-Gasreekner
Name[nl]=Kalzium gasrekenmachine
Name[nn]=Kalzium gasskalkulator
Name[pa]=ਕੈਲਜੀਅਮ ਗੈਸ ਕੈਲਕੂਲੇਟਰ
Name[pt]=Calculadora de gases do Kalzium
Name[pt_BR]=Calculadora de gases do Kalzium
Name[sv]=Kalzium gasberäkning
Name[tr]=Kalzium Gaz Hesaplayıcı
Name[uk]=Калькулятор газів Kalzium
Name[x-test]=xxKalzium gas Calculatorxx
Name[zh_CN]=Kalzium 气体计算器
Name[zh_TW]=Kalzium 氣體計算器
Comment=Kalzium gas Calculator
Comment[ca]=Calculadora de gasos del Kalzium
Comment[ca@valencia]=Calculadora de gasos del Kalzium
Comment[en_GB]=Kalzium gas Calculator
Comment[es]=Calculadora de gases de Kalzium
Comment[et]=Kalziumi gaasikalkulaator
Comment[gl]=Calculadora de gases de Kalzium
Comment[it]=Calcolatore di gas di Kalzium
Comment[ko]=Kalzium 기체 계산기
Comment[nb]=Kalzium gasskalkulator
Comment[nds]=Kalzium-Gasreekner
Comment[nl]=Kalzium gasrekenmachine
Comment[nn]=Kalzium gasskalkulator
Comment[pa]=ਕੈਲਜ਼ੀਅਮ ਗੈਸ ਕੈਲਕੂਲੇਟਰ
Comment[pt]=Calculadora de gases do Kalzium
Comment[pt_BR]=Calculadora de gases do Kalzium
Comment[sv]=Kalzium gasberäkning
Comment[tr]=Kalzium Gaz Hesaplayıcı
Comment[uk]=Калькулятор газів Kalzium
Comment[x-test]=xxKalzium gas Calculatorxx
Comment[zh_CN]=Kalzium 气体计算器
Comment[zh_TW]=Kalzium 氣體計算器
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=gasCalculator
X-KDE-PluginInfo-Author=Kashyap R Puranik
X-KDE-PluginInfo-Email=kashthealien@gmail.com
X-KDE-PluginInfo-Name=gasCalculator
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
