[Desktop Entry]
Name=Kalzium Data Engine
Name[ca]=Motor de dades del Kalzium
Name[da]=Data-motor til Kalzium
Name[de]=Kalzium Datenverarbeitung
Name[el]=Μηχανή δεδομένων Kalzium
Name[es]=Motor de datos Kalzium
Name[et]=Kalziumi andmemootor
Name[fr]=Moteur de données Kalzium
Name[ga]=Inneall Sonraí Kalzium
Name[gl]=Motor de datos de Kalzium
Name[gu]=કેલ્ઝિયમ માહિતી એન્જિન
Name[it]=Sorgente di dati di Kalzium
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ Kalzium
Name[lv]=Kalzium datu dzinējs
Name[nb]=Kalzium datamotor
Name[nl]=Kalzium gegevensengine
Name[nn]=Kalzium datamotor
Name[pl]=Silnik danych Kalzium
Name[pt]=Motor de Dados do Kalzium
Name[pt_BR]=Motor de Dados do Kalzium
Name[sv]=Kalziums datagränssnitt
Name[tr]=Kalzium Veri Motoru
Name[uk]=Рушій даних Kalzium
Name[x-test]=xxKalzium Data Enginexx
Name[zh_CN]=Kalzium 数据引擎
Name[zh_TW]=Kalzium 資料引擎
Comment=Chemical Data
Comment[ca]=Dades químiques
Comment[da]=Kemisk data
Comment[de]=Chemische Daten
Comment[el]=Χημικά δεδομένα
Comment[es]=Datos químicos
Comment[et]=Keemiaandmed
Comment[fr]=Données de chimie
Comment[ga]=Sonraí Ceimiceacha
Comment[gl]=Datos químicos
Comment[gu]=રસાયણ માહિતી
Comment[it]=Dati chimici
Comment[km]=ទិន្នន័យ​គីមី
Comment[lv]=Ķīmiskie dati
Comment[nb]=Kjemiske data
Comment[nl]=Chemische gegevens
Comment[nn]=Kjemiske data
Comment[pl]=Dane chemiczne
Comment[pt]=Dados Químicos
Comment[pt_BR]=Dados químicos
Comment[sv]=Kemisk data
Comment[tr]=Kimyasal Veri
Comment[uk]=Хімічні дані
Comment[x-test]=xxChemical Dataxx
Comment[zh_CN]=化学数据
Comment[zh_TW]=化學資料

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=kalzium
X-KDE-Library=plasma_engine_kalzium
X-Plasma-EngineName=kalzium
