[Desktop Entry]
Name=Kalzium
Name[bn]=ক্যালজিয়াম
Name[gu]=કેલ્ઝિયમ
Name[hi]=के-एल्जियम
Name[mk]=Калциум
Name[ml]=കാല്‍സിയം
Name[ne]=काल्जियम
Name[pa]=ਕੈਲਜੀਅਮ
Name[pl]=Kalzium (Program do nauki pierwiastków chemicznych)
Name[ta]=கால்சியம்
Name[x-test]=xxKalziumxx
Comment=Chemical Data
Comment[ca]=Dades químiques
Comment[da]=Kemisk data
Comment[de]=Chemische Daten
Comment[el]=Χημικά δεδομένα
Comment[es]=Datos químicos
Comment[et]=Keemiaandmed
Comment[fr]=Données de chimie
Comment[ga]=Sonraí Ceimiceacha
Comment[gl]=Datos químicos
Comment[gu]=રસાયણ માહિતી
Comment[he]=מידע כימי
Comment[it]=Dati chimici
Comment[ja]=化学データ
Comment[km]=ទិន្នន័យ​គីមី
Comment[ko]=화학 데이터
Comment[lt]=Cheminiai duomenys
Comment[lv]=Ķīmiskie dati
Comment[nb]=Kjemiske data
Comment[nds]=Cheemsch Daten
Comment[nn]=Kjemiske data
Comment[pl]=Dane chemiczne
Comment[pt]=Dados Químicos
Comment[pt_BR]=Dados químicos
Comment[sv]=Kemisk data
Comment[tr]=Kimyasal Veri
Comment[uk]=Хімічні дані
Comment[x-test]=xxChemical Dataxx
Comment[zh_CN]=化学数据
Comment[zh_TW]=化學資料

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=kalzium
X-KDE-Library=plasma_engine_kalzium

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=kalzium
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
