[Desktop Entry]
Name=Chemical Data
Name[bg]=Химични данни
Name[bs]=Hemijski podaci
Name[ca]=Dades químiques
Name[ca@valencia]=Dades químiques
Name[cs]=Chemická data
Name[da]=Kemisk data
Name[de]=Chemische Daten
Name[el]=Χημικά δεδομένα
Name[en_GB]=Chemical Data
Name[eo]=Ĥemikaj datumoj
Name[es]=Datos químicos
Name[et]=Keemiaandmed
Name[eu]=Datu kimikoak
Name[fi]=Kemialliset tiedot
Name[fr]=Données de chimie
Name[ga]=Sonraí Ceimiceacha
Name[gl]=Datos químicos
Name[gu]=રસાયણ માહિતી
Name[he]=מידע כימי
Name[hne]=केमिकल डाटा
Name[hu]=Kémiai adatok
Name[is]=Efnafræðilegar upplýsingar
Name[it]=Dati chimici
Name[ja]=化学データ
Name[kk]=Химиялық деректер
Name[km]=ទិន្នន័យ​គីមី
Name[ko]=화학 데이터
Name[lt]=Cheminiai duomenys
Name[lv]=Ķīmiskie dati
Name[mr]=रासायनिक डेटा
Name[nb]=Kjemiske data
Name[nds]=Cheemsch Daten
Name[nl]=Chemische gegevens
Name[nn]=Kjemiske data
Name[pa]=ਰਸਾਇਣਿਕ ਡਾਟਾ
Name[pl]=Dane chemiczne
Name[pt]=Dados Químicos
Name[pt_BR]=Dados químicos
Name[ru]=Химические данные
Name[sk]=Chemické údaje
Name[sl]=Kemijski podatki
Name[sv]=Kemisk information
Name[te]=రసాయన దత్తాంశం
Name[tr]=Kimyasal Veriler
Name[ug]=خىمىيىلىك سانلىق-مەلۇمات
Name[uk]=Хімічні дані
Name[x-test]=xxChemical Dataxx
Name[zh_CN]=化学数据
Name[zh_TW]=化學資料
Icon=kalzium
Type=Service
ServiceTypes=Plasma/Applet
Comment=Chemical Data Applet
Comment[bs]=Aplet za hemijske podatke
Comment[ca]=Miniaplicació de dades químiques
Comment[ca@valencia]=Miniaplicació de dades químiques
Comment[cs]=Applet pracující s chemickými daty
Comment[da]=Applet til kemisk data
Comment[de]=Chemische Daten-Miniprogramm
Comment[el]=Μικροεφαρμογή χημικών δεδομένων
Comment[en_GB]=Chemical Data Applet
Comment[eo]=Ĥemia Datum-Apleto
Comment[es]=Miniaplicación de datos químicos
Comment[et]=Keemiaandmete aplett
Comment[eu]=Datu kimikoen miniaplikazioa
Comment[fi]=Kemialliset tiedot
Comment[fr]=Composant graphique pour données de chimie
Comment[ga]=Feidhmchláirín Sonraí Ceimiceacha
Comment[gl]=Miniaplicativo de datos químicos
Comment[gu]=રસાયણ માહિતી એપ્લેટ
Comment[he]=יישומון מידע כימי
Comment[hne]=केमिकल डाटा ऐप्लेट
Comment[hu]=Kémiai kisalkalmazás
Comment[is]=Smáforrit fyrir efnafræðilegar upplýsingar
Comment[it]=Applet di dati chimici
Comment[ja]=化学データアプレット
Comment[kk]=Химиялық деректер апплеті
Comment[km]=អាប់ភ្លេត​ទិន្នន័យ​គីមី
Comment[ko]=화학 데이터 애플릿
Comment[lt]=Cheminių duomenų programėlė
Comment[lv]=Ķīmisko datu sīkrīks
Comment[mr]=रासायनिक डेटा एप्लेट
Comment[nb]=Miniprogram med kjemiske data
Comment[nds]=Lüttprogramm för cheemsch Daten
Comment[nl]=Chemische gegevensapplet
Comment[nn]=Miniprogram med kjemiske data
Comment[pa]=ਰਸਾਇਣਿਕ ਡਾਟਾ ਐਪਲਿਟ
Comment[pl]=Aplet o chemii
Comment[pt]='Applet' de Dados Químicos
Comment[pt_BR]=Miniaplicativo de dados químicos
Comment[ru]=Виджет химических данных
Comment[sk]=Applet chemických dát
Comment[sl]=Aplet za kemijske podatke
Comment[sv]=Miniprogram med kemisk information
Comment[te]=రసాయనద త్తాంశ యాప్ లెట్
Comment[tr]=Kimyasal Veri Programcığı
Comment[ug]=خىمىيىلىك سانلىق-مەلۇمات قوللانچىقى
Comment[uk]=Аплет хімічних даних
Comment[x-test]=xxChemical Data Appletxx
Comment[zh_CN]=化学数据小程序
Comment[zh_TW]=化學資料小程式


X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_kalzium
X-KDE-PluginInfo-Author=Carsten Niehaus
X-KDE-PluginInfo-Email=cniehaus@kde.org
X-KDE-PluginInfo-Name=plasma_applet_data_kalzium
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://edu.kde.org/kalzium/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
