[Desktop Entry]
Name=Chemical Data
Name[da]=Kemisk data
Name[ga]=Sonraí Ceimiceacha
Name[km]=ទិន្នន័យ​គីមី
Name[pt]=Dados Químicos
Name[pt_BR]=Dados Químicos
Name[x-test]=xxChemical Dataxx
Name[zh_TW]=化學資料
Icon=kalzium
Type=Service
ServiceTypes=Plasma/Applet
Comment=Chemical Data Applet
Comment[da]=Applet til kemisk data
Comment[ga]=Feidhmchláirín Sonraí Ceimiceacha
Comment[km]=អាប់​ភ្លេត​ទិន្នន័យ​គីមី
Comment[pt]='Applet' de Dados Químicos
Comment[pt_BR]='Applet' de Dados Químicos
Comment[uk]=Аплет хімічних даних
Comment[x-test]=xxChemical Data Appletxx
Comment[zh_TW]=化學資料小程式


X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_kalzium
X-KDE-PluginInfo-Author=Carsten Niehaus
X-KDE-PluginInfo-Email=cniehaus@kde.org
X-KDE-PluginInfo-Name=plasma_applet_data_kalzium
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kalzium.kde.org/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
