[Desktop Entry]
Encoding=UTF-8
Icon=kalzium
MimeType=application/x-ogg;audio/basic;
Name=KalziumGLPart
Name[x-test]=xxKalziumGLPartxx
Comment=An OpenGL-based 3D-renderer for molecules
Comment[x-test]=xxAn OpenGL-based 3D-renderer for moleculesxx
ServiceTypes=KParts/ReadOnlyPart
Type=Service
X-KDE-Library=libkalziumglpart
