[Desktop Entry]
Encoding=UTF-8
Icon=kalzium
MimeType=application/ogg;audio/basic;
Name=KalziumGLPart
Name[pa]=ਕੈਲਜੀਅਮGLPart
Name[x-test]=xxKalziumGLPartxx
Comment=An OpenGL-based 3D-renderer for molecules
Comment[pa]=ਅਣੂ ਲਈ ਓਪਨ-GL ਅਧਾਰਿਤ 3D-ਰੈਂਡਰਿੰਗ
Comment[x-test]=xxAn OpenGL-based 3D-renderer for moleculesxx
ServiceTypes=KParts/ReadOnlyPart
Type=Service
X-KDE-Library=libkalziumglpart
