[Desktop Entry]
Name=Kalzium nuclear Calculator
Name[bg]=Ядрен калкулатор на Kalzium
Name[bs]=Kalzium nuklearniKalkulator
Name[ca]=Calculadora nuclear del Kalzium
Name[ca@valencia]=Calculadora nuclear del Kalzium
Name[cs]=Nukleární kalkulačka programu Kalzium
Name[da]=Kalzium regnemaskine til atomer
Name[de]=Kalzium Nuklear-Rechner
Name[el]=Πυρηνικός μικροϋπολογιστής για το Kalzium
Name[en_GB]=Kalzium nuclear Calculator
Name[eo]=Nuklea kalkulilo de Kalzium
Name[es]=Calculadora nuclear de Kalzium
Name[et]=Kalziumi tuumakalkulaator
Name[eu]=Kalzium kalkulagailua nuklearra
Name[fi]=Kalziumin ydinlaskin
Name[fr]=Calculateur nucléaire de Kalzium
Name[ga]=Áireamhán núicléach Kalzium
Name[gl]=Calculadora nuclear de Kalzium
Name[hu]=Kalzium nukleáris számoló
Name[it]=Calcolatore nucleare di Kalzium
Name[kk]=Ядролық калькулятор
Name[km]=ម៉ាស៊ីន​គណនា​នុយក្លេអ៊ែរ​ ​Kalzium 
Name[ko]=Kalzium 핵 계산기
Name[lv]=Kalzium kodolu kalkulators
Name[mr]=केल्झियम न्युक्लियर गणकयंत्र
Name[nb]=Kalzium kjernekalkulator
Name[nds]=Kalzium-Atomkarnreekner
Name[nl]=Kalzium nucleaire rekenmachine
Name[nn]=Kalzium kjernekalkulator
Name[pa]=ਕੈਲਜ਼ੀਅਮ ਨਿਊਕਲੀਅਰ ਕੈਲਕੂਲੇਟਰ
Name[pl]=Kalkulator promieniotwórczości Kalzium
Name[pt]=Calculadora nuclear do Kalzium
Name[pt_BR]=Calculadora Nuclear do Kalzium
Name[ru]=Калькулятор ядерного распада
Name[sk]=Jadrová kalkulačka Kalzium
Name[sl]=Izračuni za jedra za Kalzium
Name[sv]=Kalzium kärnberäkning
Name[te]=క్యల్జ్యిం అణు గనన యంత్రము
Name[tr]=Kalzium Nükleer Hesaplayıcı
Name[ug]=Kalzium ئاتوم ھېسابلىغۇچى
Name[uk]=Калькулятор ядер Kalzium
Name[x-test]=xxKalzium nuclear Calculatorxx
Name[zh_CN]=Kalzium 原子计算器
Name[zh_TW]=Kalzium 核子計算機
Comment=Kalzium Nuclear Calculator
Comment[bg]=Ядрен калкулатор на Kalzium
Comment[bs]=Kalzium nuklearni kalkulator
Comment[ca]=Calculadora nuclear del Kalzium
Comment[ca@valencia]=Calculadora nuclear del Kalzium
Comment[cs]=Nukleární kalkulačka programu Kalzium
Comment[da]=Kalzium regnemaskine til atomer
Comment[de]=Kalzium Nuklear-Rechner
Comment[el]=Πυρηνικός μικροϋπολογιστής για το Kalzium
Comment[en_GB]=Kalzium Nuclear Calculator
Comment[eo]=Nuklea kalkulilo de Kalzium
Comment[es]=Calculadora nuclear de Kalzium
Comment[et]=Kalziumi tuumakalkulaator
Comment[eu]=Kalzium kalkulagailua nuklearra
Comment[fi]=Kalziumin ydinlaskin
Comment[fr]=Calculateur nucléaire de Kalzium
Comment[ga]=Áireamhán Núicléach Kalzium
Comment[gl]=Calculadora nuclear de Kalzium
Comment[hu]=Kalzium nukleáris számoló
Comment[it]=Calcolatore nucleare di Kalzium
Comment[kk]=Kalzium ядролық калькуляторы
Comment[km]=ម៉ាស៊ីន​គណនា​នុយក្លេអ៊ែរ Kalzium 
Comment[ko]=Kalzium 핵 계산기
Comment[lv]=Kalzium kodolu kalkulators
Comment[mr]=केल्झियम न्युक्लियर गणकयंत्र
Comment[nb]=Kalzium kjernekalkulator
Comment[nds]=Kalzium-Atomkarnreekner
Comment[nl]=Kalzium nucleaire rekenmachine
Comment[nn]=Kalzium kjernekalkulator
Comment[pa]=ਕੈਲਜ਼ੀਅਮ ਨਿਊਕਲੀਅਰ ਕੈਲਕੂਲੇਟਰ
Comment[pl]=Kalkulator promieniotwórczości Kalzium
Comment[pt]=Calculadora Nuclear do Kalzium
Comment[pt_BR]=Calculadora Nuclear do Kalzium
Comment[ru]=Калькулятор ядерного распада Kalzium
Comment[sk]=Jadrová kalkulačka Kalzium
Comment[sl]=Izračuni za jedra za Kalzium
Comment[sv]=Kalzium kärnberäkning
Comment[te]=క్యల్జ్యిం అణు గనన యంత్రము
Comment[tr]=Kalzium Nükleer Hesaplayıcı
Comment[ug]=Kalzium ئاتوم ھېسابلىغۇچى
Comment[uk]=Калькулятор ядер Kalzium
Comment[x-test]=xxKalzium Nuclear Calculatorxx
Comment[zh_CN]=Kalzium 原子计算器
Comment[zh_TW]=Kalzium 核子計算機
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=nuclearCalculator
X-KDE-PluginInfo-Author=Kashyap R Puranik
X-KDE-PluginInfo-Email=kashthealien@gmail.com
X-KDE-PluginInfo-Name=nuclearCalculator
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
