[Desktop Entry]
Name=Kalzium nuclear Calculator
Name[ca]=Calculadora nuclear del Kalzium
Name[ca@valencia]=Calculadora nuclear del Kalzium
Name[da]=Kalzium regnemaskine til atomer
Name[de]=Kalzium Nuklear-Rechner
Name[en_GB]=Kalzium nuclear Calculator
Name[es]=Calculadora nuclear de Kalzium
Name[et]=Kalziumi tuumakalkulaator
Name[fr]=Calculateur nucléaire Kalzium
Name[gl]=Calculadora nuclear de Kalzium
Name[hu]=Kalzium nukleáris kalkulátor
Name[it]=Calcolatore nucleare di Kalzium
Name[ko]=Kalzium 핵 계산기
Name[lv]=Kalzium kodolu kalkulators
Name[nb]=Kalzium kjernekalkulator
Name[nds]=Kalzium-Atomkarnreekner
Name[nl]=Kalzium nucleaire rekenmachine
Name[nn]=Kalzium kjernekalkulator
Name[pa]=ਕੈਲਜ਼ੀਅਮ ਨਿਊਕਲੀਅਰ ਕੈਲਕੂਲੇਟਰ
Name[pt]=Calculadora nuclear do Kalzium
Name[pt_BR]=Calculadora nuclear do Kalzium
Name[ru]=Калькулятор ядерного распада Kalzium
Name[sv]=Kalzium kärnberäkning
Name[tr]=Kalzium Nükleer Hesaplayıcı
Name[uk]=Калькулятор ядер Kalzium
Name[x-test]=xxKalzium nuclear Calculatorxx
Name[zh_CN]=Kalzium 原子计算器
Name[zh_TW]=Kalzium 核子計算機
Comment=Kalzium Nuclear Calculator
Comment[ca]=Calculadora nuclear del Kalzium
Comment[ca@valencia]=Calculadora nuclear del Kalzium
Comment[da]=Kalzium regnemaskine til atomer
Comment[de]=Kalzium Nuklear-Rechner
Comment[en_GB]=Kalzium Nuclear Calculator
Comment[es]=Calculadora nuclear de Kalzium
Comment[et]=Kalziumi tuumakalkulaator
Comment[fr]=Calculateur nucléaire Kalzium
Comment[gl]=Calculadora nuclear de Kalzium
Comment[hu]=Kalzium nukleáris kalkulátor
Comment[it]=Calcolatore nucleare di Kalzium
Comment[ko]=Kalzium 핵 계산기
Comment[lv]=Kalzium kodolu kalkulators
Comment[nb]=Kalzium kjernekalkulator
Comment[nds]=Kalzium-Atomkarnreekner
Comment[nl]=Kalzium nucleaire rekenmachine
Comment[nn]=Kalzium kjernekalkulator
Comment[pa]=ਕੈਲਜ਼ੀਅਮ ਨਿਊਕਲੀਅਰ ਕੈਲਕੂਲੇਟਰ
Comment[pt]=Calculadora Nuclear do Kalzium
Comment[pt_BR]=Calculadora nuclear do Kalzium
Comment[ru]=Калькулятор ядерного распада Kalzium
Comment[sv]=Kalzium kärnberäkning
Comment[tr]=Kalzium Nükleer Hesaplayıcı
Comment[uk]=Калькулятор ядер Kalzium
Comment[x-test]=xxKalzium Nuclear Calculatorxx
Comment[zh_CN]=Kalzium 原子计算器
Comment[zh_TW]=Kalzium 核子計算機
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=nuclearCalculator
X-KDE-PluginInfo-Author=Kashyap R Puranik
X-KDE-PluginInfo-Email=kashthealien@gmail.com
X-KDE-PluginInfo-Name=nuclearCalculator
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
