# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kalzium-simulations -caption "%c" %i
Icon=kalzium-simulations
DocPath=kalzium/index.html
Comment=Chemical Simulations
Comment[x-test]=xxChemical Simulationsxx
Terminal=false
Name=Kalzium-Simulations
Name[x-test]=xxKalzium-Simulationsxx
GenericName=Periodic Table of Elements
GenericName[fr]=Classification périodique des éléments
GenericName[x-test]=xxPeriodic Table of Elementsxx
Categories=Qt;KDE;Education;Science;
