# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kalzium-simulations -caption "%c" %i %m
Icon=kalzium-simulations
DocPath=kalzium/index.html
Comment=Chemical Simulations
Terminal=false
Name=Kalzium-Simulations
GenericName=Periodic Table of Elements
GenericName[fr]=Classification périodique des éléments
GenericName[x-test]=xxPeriodic Table of Elementsxx
Categories=Qt;KDE;Education;Science;
