[Desktop Entry]
Name=Kalzium concentration Calculator
Name[ca]=Calculadora de concentracions del Kalzium
Name[es]=Calculadora de concentraciones de Kalzium
Name[et]=Kalziumi kontsentratsioonikalkulaator
Name[ko]=Kalzium 농도 계산기
Name[nb]=Kalzium konsentrasjonsberegner
Name[nds]=Kalzium-Verdelendichtreekner
Name[nn]=Kalzium konsentrasjonskalkulator
Name[pt]=Calculadora de concentrações do Kalzium
Name[pt_BR]=Calculadora de concentrações do Kalzium
Name[sv]=Kalzium koncentrationsberäkning
Name[tr]=Kalzium Konsantrasyon Hesaplayıcı
Name[uk]=Калькулятор концентрації Kalzium
Name[x-test]=xxKalzium concentration Calculatorxx
Name[zh_TW]=Kalzium 濃度計算器
Comment=Kalzium concentration Calculator
Comment[ca]=Calculadora de concentracions del Kalzium
Comment[es]=Calculadora de concentraciones de Kalzium
Comment[et]=Kalziumi kontsentratsioonikalkulaator
Comment[ko]=Kalzium 농도 계산기
Comment[nb]=Kalzium konsentrasjonsberegner
Comment[nds]=Kalzium-Verdelendichtreekner
Comment[nn]=Kalzium konsentrasjonskalkulator
Comment[pt]=Calculadora de concentrações do Kalzium
Comment[pt_BR]=Calculadora de concentrações do Kalzium
Comment[sv]=Kalzium koncentrationsberäkning
Comment[tr]=Kalzium Konsantrasyon Hesaplayıcı
Comment[uk]=Калькулятор концентрації Kalzium
Comment[x-test]=xxKalzium concentration Calculatorxx
Comment[zh_TW]=Kalzium 濃度計算器
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=concentrationCalculator
X-KDE-PluginInfo-Author=Kashyap R Puranik
X-KDE-PluginInfo-Email=kashthealien@gmail.com
X-KDE-PluginInfo-Name=concentrationCalculator
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
