[Desktop Entry]
Name=Kalzium concentration Calculator
Name[ca]=Calculadora de concentracions del Kalzium
Name[ca@valencia]=Calculadora de concentracions del Kalzium
Name[da]=Kalzium-regnemaskine til koncentrationer
Name[de]=Kalzium Konzentrations-Rechner
Name[el]=Μικροϋπολογιστής συγκέντρωσης για το Kalzium
Name[en_GB]=Kalzium concentration Calculator
Name[es]=Calculadora de concentraciones de Kalzium
Name[et]=Kalziumi kontsentratsioonikalkulaator
Name[fr]=Calculateur de concentration Kalzium
Name[gl]=Calculador de concentracións de Kalzium
Name[it]=Calcolatore di concentrazione di Kalzium
Name[ko]=Kalzium 농도 계산기
Name[lv]=Kalzium koncentrācijas kalkulators
Name[nb]=Kalzium konsentrasjonsberegner
Name[nds]=Kalzium-Verdelendichtreekner
Name[nl]=Kalzium concentratierekenmachine
Name[nn]=Kalzium konsentrasjonskalkulator
Name[pt]=Calculadora de concentrações do Kalzium
Name[pt_BR]=Calculadora de concentrações do Kalzium
Name[ru]=Калькулятор концентраций Kalzium
Name[sv]=Kalzium koncentrationsberäkning
Name[tr]=Kalzium Konsantrasyon Hesaplayıcı
Name[uk]=Калькулятор концентрації Kalzium
Name[x-test]=xxKalzium concentration Calculatorxx
Name[zh_CN]=Kalzium 浓度计算器
Name[zh_TW]=Kalzium 濃度計算器
Comment=Kalzium concentration Calculator
Comment[ca]=Calculadora de concentracions del Kalzium
Comment[ca@valencia]=Calculadora de concentracions del Kalzium
Comment[da]=Kalzium-regnemaskine til koncentrationer
Comment[de]=Kalzium Konzentrations-Rechner
Comment[el]=Μικροϋπολογιστής συγκέντρωσης για το Kalzium
Comment[en_GB]=Kalzium concentration Calculator
Comment[es]=Calculadora de concentraciones de Kalzium
Comment[et]=Kalziumi kontsentratsioonikalkulaator
Comment[fr]=Calculateur de concentration Kalzium
Comment[gl]=Calculador de concentracións de Kalzium
Comment[it]=Calcolatore di concentrazione di Kalzium
Comment[ko]=Kalzium 농도 계산기
Comment[lv]=Kalzium koncentrācijas kalkulators
Comment[nb]=Kalzium konsentrasjonsberegner
Comment[nds]=Kalzium-Verdelendichtreekner
Comment[nl]=Kalzium concentratierekenmachine
Comment[nn]=Kalzium konsentrasjonskalkulator
Comment[pt]=Calculadora de concentrações do Kalzium
Comment[pt_BR]=Calculadora de concentrações do Kalzium
Comment[ru]=Калькулятор концентраций Kalzium
Comment[sv]=Kalzium koncentrationsberäkning
Comment[tr]=Kalzium Konsantrasyon Hesaplayıcı
Comment[uk]=Калькулятор концентрації Kalzium
Comment[x-test]=xxKalzium concentration Calculatorxx
Comment[zh_CN]=Kalzium 浓度计算器
Comment[zh_TW]=Kalzium 濃度計算器
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=concentrationCalculator
X-KDE-PluginInfo-Author=Kashyap R Puranik
X-KDE-PluginInfo-Email=kashthealien@gmail.com
X-KDE-PluginInfo-Name=concentrationCalculator
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
