[Desktop Entry]
Name=Kalzium concentration Calculator
Name[bs]=Kalzium Kalkulator koncentracija
Name[ca]=Calculadora de concentracions del Kalzium
Name[ca@valencia]=Calculadora de concentracions del Kalzium
Name[cs]=Kalkulačka koncentrace programu Kalzium
Name[da]=Kalzium-regnemaskine til koncentrationer
Name[de]=Kalzium Konzentrations-Rechner
Name[el]=Μικροϋπολογιστής συγκέντρωσης για το Kalzium
Name[en_GB]=Kalzium concentration Calculator
Name[eo]=Entena kalkulilo de Kalzium
Name[es]=Calculadora de concentraciones de Kalzium
Name[et]=Kalziumi kontsentratsioonikalkulaator
Name[eu]=Kalzium kontzentrazioen kalkulagailua
Name[fi]=Kalziumin konsentraatiolaskin
Name[fr]=Calculateur de concentration de Kalzium
Name[ga]=Áireamhán tiúchana Kalzium
Name[gl]=Calculador de concentracións de Kalzium
Name[hu]=Kalzium koncentrációszámoló
Name[it]=Calcolatore di concentrazione di Kalzium
Name[ja]=Kalzium 濃度計算機
Name[kk]=Концентрациялық калькулятор
Name[km]=ម៉ាស៊ីន​គណ​នា​កំហាប់​ Kalzium 
Name[ko]=Kalzium 농도 계산기
Name[lv]=Kalzium koncentrācijas kalkulators
Name[mr]=केल्झियम काँसन्ट्रेशन गणकयंत्र
Name[nb]=Kalzium konsentrasjonsberegner
Name[nds]=Kalzium-Konzentrerenreekner
Name[nl]=Kalzium concentratierekenmachine
Name[nn]=Kalzium konsentrasjonskalkulator
Name[pa]=ਕੈਲਜ਼ੀਅਮ ਸੰਘਣਾਪਨ ਕੈਲਕੂਲੇਟਰ
Name[pl]=Kalkulator stężenia Kalzium
Name[pt]=Calculadora de concentrações do Kalzium
Name[pt_BR]=Calculadora de Concentrações do Kalzium
Name[ru]=Калькулятор концентраций
Name[sk]=Kalkulačka koncentrácie Kalzium
Name[sl]=Izračun koncentracij za Kalzium
Name[sv]=Kalzium koncentrationsberäkning
Name[te]=క్యల్జ్యిం కేంద్రీకరించే గనన యంత్రము
Name[tr]=Kalzium Konsantrasyon Hesaplayıcı
Name[ug]=Kalzium قويۇقلۇق ھېسابلىغۇچ
Name[uk]=Калькулятор концентрації Kalzium
Name[x-test]=xxKalzium concentration Calculatorxx
Name[zh_CN]=Kalzium 浓度计算器
Name[zh_TW]=Kalzium 濃度計算器
Comment=Kalzium concentration Calculator
Comment[bs]=Kalzium kalkulator koncentracija
Comment[ca]=Calculadora de concentracions del Kalzium
Comment[ca@valencia]=Calculadora de concentracions del Kalzium
Comment[cs]=Kalkulačka koncentrace programu Kalzium
Comment[da]=Kalzium-regnemaskine til koncentrationer
Comment[de]=Kalzium Konzentrations-Rechner
Comment[el]=Μικροϋπολογιστής συγκέντρωσης για το Kalzium
Comment[en_GB]=Kalzium concentration Calculator
Comment[eo]=Entena kalkulilo de Kalzium
Comment[es]=Calculadora de concentraciones de Kalzium
Comment[et]=Kalziumi kontsentratsioonikalkulaator
Comment[eu]=Kalzium kontzentrazioen kalkulagailua
Comment[fi]=Kalziumin konsentraatiolaskin
Comment[fr]=Calculateur de concentration de Kalzium
Comment[ga]=Áireamhán tiúchana Kalzium
Comment[gl]=Calculador de concentracións de Kalzium
Comment[hu]=Kalzium koncentrációszámoló
Comment[it]=Calcolatore di concentrazione di Kalzium
Comment[ja]=Kalzium 濃度計算機
Comment[kk]=Kalzium концентрациялық калькуляторы
Comment[km]=ម៉ាស៊ីន​គណនា​កំហាប់​​ Kalzium 
Comment[ko]=Kalzium 농도 계산기
Comment[lv]=Kalzium koncentrācijas kalkulators
Comment[mr]=केल्झियम काँसन्ट्रेशन गणकयंत्र
Comment[nb]=Kalzium konsentrasjonsberegner
Comment[nds]=Kalzium-Konzentrerenreekner
Comment[nl]=Kalzium concentratierekenmachine
Comment[nn]=Kalzium konsentrasjonskalkulator
Comment[pa]=ਕੈਲਜ਼ੀਅਮ ਸੰਘਣਾਪਨ ਕੈਲਕੂਲੇਟਰ
Comment[pl]=Kalkulator stężenia Kalzium
Comment[pt]=Calculadora de concentrações do Kalzium
Comment[pt_BR]=Calculadora de Concentrações do Kalzium
Comment[ru]=Калькулятор концентраций Kalzium
Comment[sk]=Kalkulačka koncentrácie Kalzium
Comment[sl]=Izračun koncentracij za Kalzium
Comment[sv]=Kalzium koncentrationsberäkning
Comment[te]=క్యల్జ్యిం కేంద్రీకరించే గనన యంత్రము
Comment[tr]=Kalzium Konsantrasyon Hesaplayıcı
Comment[ug]=Kalzium قويۇقلۇق ھېسابلىغۇچ
Comment[uk]=Калькулятор концентрації Kalzium
Comment[x-test]=xxKalzium concentration Calculatorxx
Comment[zh_CN]=Kalzium 浓度计算器
Comment[zh_TW]=Kalzium 濃度計算器
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=concentrationCalculator
X-KDE-PluginInfo-Author=Kashyap R Puranik
X-KDE-PluginInfo-Email=kashthealien@gmail.com
X-KDE-PluginInfo-Name=concentrationCalculator
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Education
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
