# KDE Config File  
[Desktop Entry]
Type=Application
Exec=kalzium -caption "%c" %i %m  
Icon=kalzium
DocPath=kalzium/index.html
Comment=
Comment[xx]=xx
Terminal=0
Name=Kalzium
Name[fo]=Kalsium
Name[lv]=Kalcium
