[Desktop Entry]
Name=Kalzium
Exec=kalzium -caption "%c" -molecule %f
NoDisplay=true
Type=Application
Terminal=false
Icon=kalzium
MimeType=chemical/x-cml;
