# KDE Config File  
[Desktop Entry]
Type=Application
Exec=kalzium -caption "%c" %i %m  
Icon=kalzium
DocPath=kalzium/index.html
Comment=
Comment[xx]=xxxx
Terminal=0
Name=Kalzium
Name[ar]=الكيمياء ك
Name[fo]=Kalsium
Name[lv]=Kalcium
Name[mn]=Кальци
Name[pl]=Kalzium (Program do nauki pierwiastków chemicznych)
Name[xx]=xxKalziumxx
GenericName=Periodic Table of Elements
Categories=Qt;KDE;Education;Science
