<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kalzium" version="2">
<MenuBar>
  <Menu name="file" noMerge="0"><text>&amp;File</text>
    <Action name="export_data"/>
  </Menu>
  <Menu name="table_menu"><text>&amp;View</text>
    <Action name="numerationtype" />
    <Menu name="look_menu"><text>&amp;Look</text>
      <Action name="look_noscheme" />
      <Separator />
      <Action name="look_groups" />
      <Action name="look_blocks" />
      <Action name="look_acid" />
      <Action name="look_family" />
      <Action name="look_crystal" />
      <Action name="look_gradmenu" />
    </Menu>
    <Separator />
    <Action name="toggle_legend" />
    <Action name="toggle_tooltip" />
    <Action name="view_sidebar"/>
  </Menu>
  <Menu name="miscmenu"><text>&amp;Tools</text>
    <Action name="plotdata" />
    <Action name="nuclideboard" />
    <Action name="glossary" />
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
  </Menu>
</MenuBar>

<ToolBar name="mainToolBar">
  <text>Main Toolbar</text>
  <Action name="toggle_legend" />
  <Action name="toggle_tooltip" />
  <Action name="view_sidebar"/>
  <Separator />
  <Action name="plotdata" />
  <Action name="nuclideboard" />
  <Action name="glossary" />
</ToolBar>

</kpartgui>
